<appSettings>
	<!--<add key="MailServer" value="dev-smtp.vidly.com"/>
	<add key="FacebookAppId" value="12345"/>
	<add key="FacebookAppSecret" value="abcde"/>-->
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>



<!--373171080814351
c412fce64864a69f80c6d9df31162e54-->